# Test multiindex columns

In [26]:
import pandas as pd
import numpy as np
import random
random.seed(32)

In [3]:
df = pd.read_csv('/home/sophia/ma_py/pandora_bigfive1000.csv')
df.head()

,author,author_flair_text,body,downs,created_utc,subreddit_id,link_id,parent_id,score,controversiality,gilded,id,subreddit,ups,word_count,word_count_quoteless,lang
0,Sabata11792,NaN,Not seeing any break or signal lights and no p...,NaN,1534890968,t5_3fqup,t3_995l9s,t1_e4lbrls,1.0,0,0,e4lkg2l,ATBGE,NaN,19,19,en
1,Swarels,INTP,"Multiverses, matrix theory, consciousness. Scr...",NaN,1499749893,t5_2qhvl,t3_6mjw62,t1_dk26jre,7.0,0,0,dk26vpo,INTP,NaN,51,46,en
2,pearlz176,Manchester United,Hope you've enjoyed the ride :D,NaN,1485613795,t5_2qi58,t3_5qnd1v,t1_dd0mdqg,2.0,0,0,dd0nxif,soccer,NaN,6,6,en
3,rainbowhotpocket,Colts,"Idk, in the AFC if i recall correctly since 20...",NaN,1466965660,t5_2qmg3,t3_4pypuh,t1_d4oulvo,11.0,0,0,d4our0i,nfl,11.0,62,61,en
4,amathyx,http://myanimelist.net/profile/amathy,22 hours later and the music is still going[co...,NaN,1495851189,t5_2qh22,t3_6ddiow,t3_6ddiow,6.0,0,0,di3inz7,anime,NaN,32,29,en

In [29]:
names = df.columns.values

In [23]:
type(df.columns.values)

numpy.ndarray

In [51]:
lst1 = 2*["author_info"]
lst2 = 1*["comment"]
lst3 = 14*["info"]
headers = lst1 + lst2 + lst3
# headers = np.array(headers)
type(headers)

list

In [50]:
# one = np.array(2*["author_info"])
# two = np.array(15*["info"])
# headers = one + two
# type(headers)

UFuncTypeError: ufunc 'add' did not contain a loop with signature matching types (dtype('<U11'), dtype('<U11')) -> dtype('<U11')

In [52]:
arrays = [headers] + [names]
type(arrays)
arrays

[['author_info',
  'author_info',
  'comment',
  'info',
  'info',
  'info',
  'info',
  'info',
  'info',
  'info',
  'info',
  'info',
  'info',
  'info',
  'info',
  'info',
  'info'],
 array(['author', 'author_flair_text', 'body', 'downs', 'created_utc',
        'subreddit_id', 'link_id', 'parent_id', 'score',
        'controversiality', 'gilded', 'id', 'subreddit', 'ups',
        'word_count', 'word_count_quoteless', 'lang'], dtype=object)]

In [36]:
midx= pd.MultiIndex.from_arrays(arrays)

In [41]:
newdf = pd.DataFrame(df, columns=headers)
newdf

,author_info,author_info,comment,info,info,info,info,info,info,info,info,info,info,info,info,info,info
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [53]:
df.columns=pd.MultiIndex.from_arrays(arrays)
df

             author_info                                          \
                  author                       author_flair_text
0            Sabata11792                                     NaN
1                Swarels                                    INTP
2              pearlz176                       Manchester United
3       rainbowhotpocket                                   Colts
4                amathyx   http://myanimelist.net/profile/amathy
..                   ...                                     ...
995    AureliusPendragon  �� You are your dragon. Slay yourself.
996                 ksvr                                 Bengals
997           vipertongn                                     NaN
998       lordoftheslums                                   Bulls
999  HellhoundsOnMyTrail             prototypical non-conformist

                                               comment  info              \
                                                  body downs created_utc
0    Not seeing any break or signal lights and no p...   NaN  1534890968
1    Multiverses, matrix theory, consciousness. Scr...   NaN  1499749893
2                      Hope you've enjoyed the ride :D   NaN  1485613795
3    Idk, in the AFC if i recall correctly since 20...   NaN  1466965660
4    22 hours later and the music is still going[co...   NaN  1495851189
..                                                 ...   ...         ...
995                                       Fair enough.   NaN  1511890614
996  maybe him and Marvin Lewis have the same secre...   0.0  1481133329
997  how would you flash the kernel using stock rom...   NaN  1470043422
998  Which ever one of the Bulls/Celtics first roun...   NaN  1450723952
999                                 Obviously unstable   NaN  1467132062

                                                                       \
    subreddit_id    link_id   parent_id score controversiality gilded
0       t5_3fqup  t3_995l9s  t1_e4lbrls   1.0                0      0
1       t5_2qhvl  t3_6mjw62  t1_dk26jre   7.0                0      0
2       t5_2qi58  t3_5qnd1v  t1_dd0mdqg   2.0                0      0
3       t5_2qmg3  t3_4pypuh  t1_d4oulvo  11.0                0      0
4       t5_2qh22  t3_6ddiow   t3_6ddiow   6.0                0      0
..           ...        ...         ...   ...              ...    ...
995     t5_32jqy  t3_7g4acj  t1_dqgo961   2.0                0      0
996     t5_2qmg3  t3_5h055f  t1_dawe1yo   1.0                0      0
997     t5_39zt6  t3_4vk0ch  t1_d5z2og3   1.0                0      0
998     t5_2qo4s  t3_3xot3k   t3_3xot3k   1.0                0      0
999     t5_2rct2  t3_4qab38  t1_d4rdk6k   1.0                0      0


          id       subreddit   ups word_count word_count_quoteless lang
0    e4lkg2l           ATBGE   NaN         19                   19   en
1    dk26vpo            INTP   NaN         51                   46   en
2    dd0nxif          soccer   NaN          6                    6   en
3    d4our0i             nfl  11.0         62                   61   en
4    di3inz7           anime   NaN         32                   29   en
..       ...             ...   ...        ...                  ...  ...
995  dqgonrb  JordanPeterson   NaN          2                    2   en
996  dawlszw             nfl   0.0         14                   14   en
997  d5ze762         Nexus6P   1.0         33                   32   en
998  cy6ukte             nba   1.0         32                   32   en
999  d4rdn40         OkCupid   1.0          2                    2   en

[1000 rows x 17 columns]

In [45]:
startnumber=2
featurelist = df.columns.tolist()
feature_cols = featurelist[startnumber:]
x = df[feature_cols]
x

                                               comment  info              \
                                                  body downs created_utc
0    Not seeing any break or signal lights and no p...   NaN  1534890968
1    Multiverses, matrix theory, consciousness. Scr...   NaN  1499749893
2                      Hope you've enjoyed the ride :D   NaN  1485613795
3    Idk, in the AFC if i recall correctly since 20...   NaN  1466965660
4    22 hours later and the music is still going[co...   NaN  1495851189
..                                                 ...   ...         ...
995                                       Fair enough.   NaN  1511890614
996  maybe him and Marvin Lewis have the same secre...   0.0  1481133329
997  how would you flash the kernel using stock rom...   NaN  1470043422
998  Which ever one of the Bulls/Celtics first roun...   NaN  1450723952
999                                 Obviously unstable   NaN  1467132062

                                                                       \
    subreddit_id    link_id   parent_id score controversiality gilded
0       t5_3fqup  t3_995l9s  t1_e4lbrls   1.0                0      0
1       t5_2qhvl  t3_6mjw62  t1_dk26jre   7.0                0      0
2       t5_2qi58  t3_5qnd1v  t1_dd0mdqg   2.0                0      0
3       t5_2qmg3  t3_4pypuh  t1_d4oulvo  11.0                0      0
4       t5_2qh22  t3_6ddiow   t3_6ddiow   6.0                0      0
..           ...        ...         ...   ...              ...    ...
995     t5_32jqy  t3_7g4acj  t1_dqgo961   2.0                0      0
996     t5_2qmg3  t3_5h055f  t1_dawe1yo   1.0                0      0
997     t5_39zt6  t3_4vk0ch  t1_d5z2og3   1.0                0      0
998     t5_2qo4s  t3_3xot3k   t3_3xot3k   1.0                0      0
999     t5_2rct2  t3_4qab38  t1_d4rdk6k   1.0                0      0


          id       subreddit   ups word_count word_count_quoteless lang
0    e4lkg2l           ATBGE   NaN         19                   19   en
1    dk26vpo            INTP   NaN         51                   46   en
2    dd0nxif          soccer   NaN          6                    6   en
3    d4our0i             nfl  11.0         62                   61   en
4    di3inz7           anime   NaN         32                   29   en
..       ...             ...   ...        ...                  ...  ...
995  dqgonrb  JordanPeterson   NaN          2                    2   en
996  dawlszw             nfl   0.0         14                   14   en
997  d5ze762         Nexus6P   1.0         33                   32   en
998  cy6ukte             nba   1.0         32                   32   en
999  d4rdn40         OkCupid   1.0          2                    2   en

[1000 rows x 15 columns]