# Data augmentation

In [2]:
# Import packages

import pandas as pd
import random
random.seed(32)

In [3]:
# Import dataset with comments
df = pd.read_csv('/home/sophia/ma_py/pandora_bigfive.csv')

# Import dataset authors and delete not needed columns
authors = pd.read_csv('/home/sophia/ma_py/author_profiles.csv')
bigfive = authors[['author', 'mbti', 'agreeableness','openness','conscientiousness','extraversion','neuroticism']]
bigfive = bigfive[bigfive['agreeableness'].notna()]
uniondf = bigfive[bigfive['mbti'].notna()]

In [4]:
uniondf.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 402 entries, 7 to 10294
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   author             402 non-null    object
 1   mbti               402 non-null    object
 2   agreeableness      402 non-null    float64
 3   openness           397 non-null    float64
 4   conscientiousness  400 non-null    float64
 5   extraversion       401 non-null    float64
 6   neuroticism        401 non-null    float64
dtypes: float64(5), object(2)
memory usage: 25.1+ KB

In [5]:
uniondf = uniondf.reset_index(drop=True)
uniondf.head()

,author,mbti,agreeableness,openness,conscientiousness,extraversion,neuroticism
0,-BlitzN9ne,entp,50.0,85.0,15.0,50.0,30.0
1,-dyad-,infp,60.0,67.0,45.0,10.0,47.0
2,12345jk12345,estp,0.0,37.0,72.0,72.0,3.0
3,ACE_C0ND0R,intj,10.0,80.0,74.0,27.0,18.0
4,A_Bra_and_a_Ham,enfp,1.0,50.0,61.0,90.0,3.0

In [7]:
namelist = ['mbti_ei', 'mbti_ns', 'mbti_tf', 'mbti_jp']

for i in range(len(namelist)):
    uniondf[namelist[i]] = uniondf['mbti'].apply(lambda x:[x[i]])
    uniondf[namelist[i]] = [item[0] for item in uniondf[namelist[i]]]

uniondf

,author,mbti,agreeableness,openness,conscientiousness,extraversion,neuroticism,mbti_ei,mbti_ns,mbti_tf,mbti_jp
0,-BlitzN9ne,entp,50.0,85.0,15.0,50.0,30.0,e,n,t,p
1,-dyad-,infp,60.0,67.0,45.0,10.0,47.0,i,n,f,p
2,12345jk12345,estp,0.0,37.0,72.0,72.0,3.0,e,s,t,p
3,ACE_C0ND0R,intj,10.0,80.0,74.0,27.0,18.0,i,n,t,j
4,A_Bra_and_a_Ham,enfp,1.0,50.0,61.0,90.0,3.0,e,n,f,p
...,...,...,...,...,...,...,...,...,...,...,...
397,quakeroaks,enfp,3.0,85.0,19.0,50.0,92.0,e,n,f,p
398,rrgjl,intj,0.0,92.0,52.0,1.0,79.0,i,n,t,j
399,seldomvanilla,intj,21.0,96.0,86.0,32.0,0.0,i,n,t,j
400,turncloak471,intj,6.0,91.0,88.0,15.0,4.0,i,n,t,j
401,yrelav_dnomyar,intj,13.0,42.0,97.0,0.0,7.0,i,n,t,j

In [8]:
uniondf['mbti_ei'].replace('e', 1, inplace=True)
uniondf['mbti_ei'].replace('i', 0, inplace=True)

uniondf['mbti_ns'].replace('n', 1, inplace=True)
uniondf['mbti_ns'].replace('s', 0, inplace=True)

uniondf['mbti_tf'].replace('t', 1, inplace=True)
uniondf['mbti_tf'].replace('f', 0, inplace=True)

uniondf['mbti_jp'].replace('j', 1, inplace=True)
uniondf['mbti_jp'].replace('p', 0, inplace=True)

uniondf

,author,mbti,agreeableness,openness,conscientiousness,extraversion,neuroticism,mbti_ei,mbti_ns,mbti_tf,mbti_jp
0,-BlitzN9ne,entp,50.0,85.0,15.0,50.0,30.0,1,1,1,0
1,-dyad-,infp,60.0,67.0,45.0,10.0,47.0,0,1,0,0
2,12345jk12345,estp,0.0,37.0,72.0,72.0,3.0,1,0,1,0
3,ACE_C0ND0R,intj,10.0,80.0,74.0,27.0,18.0,0,1,1,1
4,A_Bra_and_a_Ham,enfp,1.0,50.0,61.0,90.0,3.0,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
397,quakeroaks,enfp,3.0,85.0,19.0,50.0,92.0,1,1,0,0
398,rrgjl,intj,0.0,92.0,52.0,1.0,79.0,0,1,1,1
399,seldomvanilla,intj,21.0,96.0,86.0,32.0,0.0,0,1,1,1
400,turncloak471,intj,6.0,91.0,88.0,15.0,4.0,0,1,1,1
401,yrelav_dnomyar,intj,13.0,42.0,97.0,0.0,7.0,0,1,1,1

In [9]:
droplst = []
for i in range(len(uniondf['mbti_ei'])):
    if uniondf.iloc[i]['mbti_ei'] == 'x':
        print("EI: ", i)
        droplst.append(i)
    elif uniondf.iloc[i]['mbti_ns'] == 'x':
        print("NS: ", i)
        droplst.append(i)
    elif uniondf.iloc[i]['mbti_tf'] == 'x':
        print("TF: ", i)
        droplst.append(i)
    elif uniondf.iloc[i]['mbti_jp'] == 'x':
        print("JP: ", i)
        droplst.append(i)
        
droplst = list(set(droplst))
droplst.sort()

uniondf.drop(uniondf.index[droplst], inplace=True)

uniondf.info()

JP:  32
EI:  54
JP:  57
JP:  58
EI:  96
JP:  99
TF:  113
EI:  141
TF:  153
JP:  220
EI:  317
JP:  338
EI:  349
JP:  375
EI:  384
JP:  386
<class 'pandas.core.frame.DataFrame'>
Int64Index: 386 entries, 0 to 401
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   author             386 non-null    object
 1   mbti               386 non-null    object
 2   agreeableness      386 non-null    float64
 3   openness           381 non-null    float64
 4   conscientiousness  384 non-null    float64
 5   extraversion       385 non-null    float64
 6   neuroticism        385 non-null    float64
 7   mbti_ei            386 non-null    object
 8   mbti_ns            386 non-null    int64
 9   mbti_tf            386 non-null    object
 10  mbti_jp            386 non-null    object
dtypes: float64(5), int64(1), object(5)
memory usage: 36.2+ KB

In [10]:
data_types_dict = {'mbti_ei': int, 'mbti_ns': int, 'mbti_tf': int, 'mbti_jp': int,}

uniondf = uniondf.astype(data_types_dict)
uniondf.to_pickle("uniondf.pkl")
uniondf.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 386 entries, 0 to 401
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   author             386 non-null    object
 1   mbti               386 non-null    object
 2   agreeableness      386 non-null    float64
 3   openness           381 non-null    float64
 4   conscientiousness  384 non-null    float64
 5   extraversion       385 non-null    float64
 6   neuroticism        385 non-null    float64
 7   mbti_ei            386 non-null    int64
 8   mbti_ns            386 non-null    int64
 9   mbti_tf            386 non-null    int64
 10  mbti_jp            386 non-null    int64
dtypes: float64(5), int64(4), object(2)
memory usage: 36.2+ KB

In [15]:
authorlist = uniondf['author'].tolist()
authorlist = list(set(authorlist))
authorlist.sort()

In [16]:
# commentdf = df.apply(lambda x: [row for row in x if (x.author in authorlst)])
commentdf = df[df.author.isin(authorlist)]
commentdf.head()

newauthorlist = commentdf['author'].tolist()
newauthorlist = list(set(newauthorlist))

newauthorlist.sort()
print(authorlist == newauthorlist)

commentdf.to_pickle("comments_uniondf.pkl")

True